.topnav-navbar{
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    height: 50px;
}

.navbar-fixed-top{
    top: 0;
}

.topnav-navbar .navbar-brand {
    width: 210px;
    background: #2c3e50;
    padding: 15px 0;
    color: #7997b5;
    padding-left: 55px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}