<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/modules/Login.js"></script>
    <script src="js/controllers/LoginController.js"></script>


</head>
<body ng-app="MyApp" ng-controller="LoginController as lc" layout="column"  ng-cloak="">



    <md-toolbar layout-align="center center">
        <h1 style="align-items: center">Welcome to My Application</h1>
    </md-toolbar>

    <div id="container">

        <div id="loginContainer">

            <div class="card text-center" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">

                <div class="login_title" style="background-color: #7AC74F; color: #fafafa">
                    <h4 style="margin: 20px">Login</h4>
                </div>


                <div class="card-block" layout="column">

                    <form name="loginForm" role="form" ng-submit="lc.checkUser()">

                        <md-input-container class="md-block">
                            <label>Username:</label>
                            <input ng-model="userName"  type="text" required aria-label="Username">
                            <div ng-messages="loginForm.userName.$error">
                                <div ng-message="required">Username is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password:</label>
                            <input ng-model="password" type="password" required aria-label="Password">
                            <div ng-messages="loginForm.password.$error">
                                <div ng-message="required">Password is required.</div>
                            </div>
                        </md-input-container>



                        <md-button class="md-raised md-primary" md-theme="default" ng-click="lc.checkUser()">
                            Login
                        </md-button>

                    </form>

                    <div layout="row">
                        <a href="#" style="margin: 10px">Forgot Password?</a>
                        <a href="registerUser.html" style="margin-left: 30px;margin-top: 10px">Not a Member? Register!</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="modal fade" ng-show="!lc.isValid">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login Unsuccessful.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter correct Username or password!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        angular.module('MyApp',['ngMaterial','login'])
            .config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark().primaryPalette('grey').accentPalette('red');
            });


    </script>

</body>
</html>